.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.post {
  max-width: 720px;
  margin: 5rem auto 0;

  h1 {
    font-size: 3.5rem;
    font-weight: 900;
  }

  time {
    font-size: 1rem;
    color: var(--gray-300);
    margin-top: 1.5rem;
    display: block;
  }

  .postContent {
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1.125rem;
    color: var(--gray-100);

    * {
      overflow-x: auto;
    }

    p, ul, pre {
      margin: 1.5rem 0;
    }

    pre {
      background-color: var(--gray-800);
      border-radius: 4px;
      padding: .5rem 1rem;
    }

    ul {
      padding-left: 1.5rem;

      li {
        margin: 0.5rem 0;

        &:before {
          content: '●';
          margin-right: 0.5rem;
        }
      }
    }
    
    &:not(.previewContent) a {
      text-decoration: underline;
      color: var(--cyan-500);

      &:hover {
        filter: brightness(.75);
      }
    }

    &.previewContent {
      background: linear-gradient(var(--gray-100), transparent);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.continueReading {
  padding: 2rem;
  margin: 4rem 0 2rem;
  border-radius: 100px;
  
  background-color: var(--gray-850);
  
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;

  a {
    color: var(--yellow-500);
    margin-left: .5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
